<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718962691295-kg78sd2pai883qne0s0en197srlr3s4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718962691295-kg78sd2pai883qne0s0en197srlr3s4u</string>
	<key>API_KEY</key>
	<string>AIzaSyD6WACVE3FvWcZP_qDtdPo4rBjI0ngIwac</string>
	<key>GCM_SENDER_ID</key>
	<string>718962691295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sjpe.app</string>
	<key>PROJECT_ID</key>
	<string>sjpe-48ba5</string>
	<key>STORAGE_BUCKET</key>
	<string>sjpe-48ba5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718962691295:ios:81ce8920daad838c9a2d6a</string>
</dict>
</plist>